<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="crm:Username" value="lexusmenteng@lexusindonesia.onmicrosoft.com" />
    <!--tsdms@lexusindonesia.onmicrosoft.com-->
    <!--admin@lexusindonesia.onmicrosoft.com-->
    <add key="crm:Password" value="Lximenteng200" />
    <!--Lexus2018-->
    <!--L3xus@201804-->
    <add key="crm:Region" value="APAC" />
    <add key="crm:OrgUniqueId" value="orga327b575" />
    <!-- orga327b575 prod -->
    <!--org952502b7  train-->
    <!--org4ae89675 dev-->
    <add key="crm:Uri" value="https://ldms.api.crm5.dynamics.com/XRMServices/2011/Organization.svc" />
    <!--add key="crm:Uri" value="https://lxi-train.api.crm5.dynamics.com/XRMServices/2011/Organization.svc"/-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
